<!DOCTYPE html>
<html>

<head>
<title>Add Trip</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Add New Trip</h1>

<form method="post">

<input name="place" placeholder="Destination (Example: Goa)" required>

<input name="budget" placeholder="Estimated Budget ₹" required>

<button type="submit">Add Trip</button>

</form>

<div style="text-align:center;margin-top:20px;">
<a href="/dashboard">Back to Dashboard</a>
</div>

</body>
</html>
